{% extends "membermanage/smallbase.html" %}
{% block scriptlist %}
   {% for scripturl in scriptlist %}
      <script type="text/javascript" language="javascript" src="{{scripturl}}"></script>
   {% endfor %}
{% endblock %}
{% block content %}
{% if member.wizard %}
<form action= "{{member.wizard}}" method="POST">{% csrf_token %}
{% else %}
<form action= "{% url 'fidoonline.membermanage.memberactions.recordpet' member.id %}" method="POST">{% csrf_token %}
{% endif %}
  <table col="3" rules="NONE" border="0">
    <colgroup>
      <col width=120>
      <col width=180>
      <col width=120>
    </colgroup>
    <tbody>
      <tr>
        <td class="nut" title="{{pform.pf_name.help_text}}">
        {{member.pform.pf_name.label}}
        </td>
        <td>
        {{member.pform.pf_name}}
        </td>
        <td>
        {% if member.pform.pf_name.errors %}
          <ul>
          {% for err in member.pform.pf_name.errors %}
            <li class="smallwarn">{{err}}</li>
           {% endfor %}
          </ul>
         {% else %}
           &nbsp;
         {% endif %}
        </td>
      </tr>
      <tr>
        <td class="nut" title="{{pform.pf_desc.help_text}}">
        {{member.pform.pf_desc.label}}
        </td>
        <td>
        {{member.pform.pf_desc}}
        </td>
        <td>
        {% if member.pform.pf_desc.errors %}
          <ul>
          {% for err in member.pform.pf_desc.errors %}
            <li class="smallwarn">{{err}}</li>
           {% endfor %}
          </ul>
         {% else %}
           &nbsp;
         {% endif %}
        </td>
      </tr>
      <tr>
        <td class="nut" title="{{tform.ta_number.help_text}}">
        {{member.tform.ta_number.label}}
        </td>
        <td>
        {{member.tform.ta_number}}
        </td>
        <td>
        {% if member.tform.ta_number.errors %}
          <ul>
          {% for err in member.tform.ta_number.errors %}
            <li class="smallwarn">{{err}}</li>
          {% endfor %}
          </ul>
         {% else %}
           &nbsp;
         {% endif %}
        </td>
      </tr>
      <tr>
      {% if member.wizard %}
        <td class="inf" title="Close wizard; changes up to (but not including) this stage saved." align="RIGHT">
          <input type="submit" name="CancelPetButton" value="Cancel" onclick="wizardCancel({{member.canurl}})"> 
        </td> 
        <td class="inf" title="Commit this pet and go on to add another" align="RIGHT">
          <input type="submit" name="AddPetButton" value="Add Another"> 
        </td>
        <td class="inf" title="Commit this pet and go on to preferences" align="RIGHT">
          <input type="submit" name="DonePetButton" value="Next"> 
        </td>
      {% else %}
        <td class="inf" title="Withdraw changes" align="RIGHT">
          <input type="submit" name="CancelButton" value="Cancel"> 
        </td> 
        <td class="inf" title="Commit changes" align="RIGHT">
          <input type="submit" name="UpdateButton" value="Update"> 
        </td>
      {% endif %} 
      </tr>
      <tr>
      {% autoescape off %}
        <td colspan="2">
           {% if member.pform.non_field_errors %}
              <ul>
              {% for err in member.pform.non_field_errors %} 
	        <li class="warn">{{err}}</li>
              {% endfor %}
              </ul> 
           {% endif %} 
           {% if member.tform.non_field_errors %}
              <ul>
              {% for err in member.tform.non_field_errors %} 
	         <li class="warn">{{err}}</li>
              {% endfor %}
              </li>
           {% endif %}
        </td> 
      {% endautoescape %}
      </tr>
    </tbody>
  </table>
</form>
{% endblock %}
